body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #464f53; /*Darker*/
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.page-header {
  color: #fff;
  text-align: center;
  text-shadow: .01em .01em .05em #444;
  /*Slightly lighter than original*/
  background-color: #18b466;
  background-image: linear-gradient(120deg, #1866b4, #18b466); 
  padding: 1rem 1rem;
}
.page-header h1, .page-header h2, .page-header h3 {
  margin-top: 0;
  margin-bottom: .2rem;
}

.btn {
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
  /*.btn + .btn {
    margin-left: 1rem; }*/

.btn:hover {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

.main-content btn {
  text-align: center;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: #159957;
  border-color: #1fe080;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }
  /*.btn + .btn {
    margin-left: 1rem; }*/

.main-content btn:hover {
  color: rgba(255, 255, 255, 0.88));
  text-decoration: none;
  background-color: #1ac16e;
  border-color: #4be799;
  }
  
/*Conditional on screen size:*/
@media (min-width: 64em) {/*BIG*/
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;/*: top-bottom left-right;*/
    margin: 0 auto; } 
  .btn, .btn-main {
    display: inline-block;
    padding: .7rem 1.2rem;
  }
}

@media (min-width: 42em) and (max-width: 64em) {/*MED*/
  .main-content {
    padding: 2rem 4rem;
  }
  .btn, .btn-main {
    display: inline-block;
    padding: .5rem .8rem;
  }
}

@media (max-width: 42em) {/*Phone*/
  .main-content {
    padding: 2rem 1rem;
  }
  .btn, .btn-main {
    display: block;
    padding: .4rem;
  }
}
